page-restaurant-list {
	ion-card{
		.image-holder{
			position: relative;
			height: 200px !important;
			overflow: hidden;
		}

		ion-card-title{
			font-weight: 700 !important;
		}

		ion-chip{
			margin-right: 10px !important;
		}

		.appointment{
			position: absolute;
			top: 150px;
			left: 16px;
			z-index: 10000;
			box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2) !important;
			background-color: #f39c12;
			background-image: linear-gradient(147deg, #f39c12 0%, #FF2525 74%);



			ion-label{
				font-weight: 700 !important;
				font-size: 1.15em !important;
			}
		}
	}
}
