<ion-header no-border>

  <ion-navbar>
    <ion-title>{{ cuisine }} List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-card *ngFor="let restaurant of restaurantEntries">
		<div class="image-holder">
			<img src="{{ restaurant.image_url }}"/>

			<ion-chip class="appointment" color="primary">
			  <ion-label>3 events are coming up!</ion-label>
			</ion-chip>
		</div>
		<ion-card-content>
		<ion-card-title>
		  {{ restaurant.name }}
		</ion-card-title>

		<p>{{ restaurant.location.display_address }}</p>

		<p>{{ restaurant.price }} &middot; {{ restaurant.rating }} &#9733; </p>

		<div class="chips">
			<ion-chip *ngFor="let category of restaurant.categories">
			  <ion-label>{{ category.title}}</ion-label>
			</ion-chip>
		</div>	

		</ion-card-content>
	</ion-card>

</ion-content>
